@mixin font-size($sizeValue: 1.8) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin font-family-default() {
  font-family: $font-family-default;
  font-weight: 400;
}

@mixin font-family-bold() {
  font-family: $font-family-default;
  font-weight: 700;
}

@mixin font-family-brand() {
  font-family: $font-family-brand;
  font-weight: 400;
}

@mixin clearfix() {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}
