//Dimensions

//Colors
$site-background: #ffffff;
$site-background-alt: #d1d1d1;
$site-background-dark: #838383;
$font-dark: #363636;
$font-light: #ffffff;

$diald-green: #789f8a;
$diald-green-dark: #0c383b;
$diald-yellow: #e2d8a3;
$diald-yellow-darker: #e1b753;
$diald-orange: #e1694e;
$diald-grey: #d1d1d1;
$diald-grey-dark: #363636;

$facebook-blue: #3a5b97;
$twitter-blue: #56aeec;
$linkedin-blue: #0077b5;

//Fonts
$font-family-default: "fira-sans",sans-serif;
$font-family-brand: "fenway-park-jf",sans-serif;
