//Dimensions

//Colors
$site-background: #ffffff;
$site-background-alt: #d1d1d1;
$site-background-dark: #838383;
$font-dark: #363636;
$font-light: #ffffff;

$diald-green: #66b86e;
$diald-green-light: #a7c4aa;
$diald-green-dark: #4a8550;
$diald-green-darker: #1f3822;
$diald-grey: #838383;
$diald-grey-light: #d1d1d1;
$diald-grey-dark: #363636;

$facebook-blue: #3a5b97;
$twitter-blue: #56aeec;
$linkedin-blue: #0077b5;

//Fonts
$font-family-default: "fira-sans",sans-serif;
$font-family-brand: "fenway-park-jf",sans-serif;
